@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@font-face {
    font-family: Philosopher;
    src: url(../fonts/Philosopher-BoldItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    background-image: linear-gradient(to right, #BCD329, #93a80d);
}

.hero-main {
    display: flex;
    padding-top: 3rem;
}

.hero-main>div {
    flex: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    font-family: Philosopher;
}

.nutricion {
    font-size: 3.5rem;
    color: rgb(5, 50, 58);
} 

.balanced {
    font-size: 6rem;
    transition: .5s;
    color: #0e4538;
    text-shadow: 0 4px 4px  rgb(5, 50, 58);
}

.balanced:hover {
    transform: scale(1.1);
}

.hero-text h3 {
    font-size: 1.9rem;
    color: rgb(5, 50, 58);
} 

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3.5rem;
}

.hero-img img {
    width: 620px;
    transform: rotate(25deg);
    transition: .7s;
    filter: drop-shadow(30px 30px  20px rgb(38, 49, 31));
}

.hero-img img:hover {
    transform: rotate(-10deg) ;
}
 
.caja-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}

.boton-visita {
    border: 0;
    font-size: 1.2rem;
    background-color: #7a8919;
    border-radius: 8px;
    padding: 6px;
    cursor: pointer;
    transition: .5s;
}

.boton-visita:hover {
    transform: scale(1.1);
}

.visita {
    color:#0e4538;
}

.visita:hover {
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 0 0;
    align-items: baseline;
    background-image: linear-gradient(to right, #BCD329, #93a80d);
}

.menu-sitio {
    display: flex;
}

.menu {
    list-style-type: none;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    gap: 2rem;
}

.menu-item-logo {
    font-family: Philosopher;
    font-size: 2.5rem;
}

.menu-item {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.6rem;   
}

a{
    text-decoration: none;
    color: black;
    transition: .4s;
}

a:hover {
    color: rgba(255, 255, 255, 0.745);
}

h1 {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 300;
    padding-top: 5.5rem;
    display: flex;
    justify-content: center;
}

.seccion1 {
    padding: 0 6rem 0 6rem;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr ;
    grid-template-areas: 
    "seccion1-parrafo1 seccion1-imagen seccion1-parrafo3"
    "seccion1-parrafo2 seccion1-imagen seccion1-parrafo4"
    ;
    gap: 1rem;
    text-align: center;
}

.seccion1-parrafo1 {
    grid-area: seccion1-parrafo1;
}

.seccion1-parrafo3 {
    grid-area: seccion1-parrafo3;
}

.seccion1-parrafo2 {
    grid-area: seccion1-parrafo2;
}

.seccion1-imagen {
    grid-area: seccion1-imagen;
    max-width: 450px;
    padding-top: 2rem;
}

.seccion1-parrafo4 {
    grid-area: seccion1-parrafo4;
}

.caja-boton-listo {
    display: flex;
    justify-content: center;
}

.boton-listo {
    font-family: "Nunito Sans", sans serif;
    border: 0;
    border-radius: 8px;
    margin-bottom: 2rem;
    color: black;
    background-color: #f8f8f8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .5s;
    padding: 8px;
}

.listo:hover {
    font-size: 1.4rem;
    color: white;
    background-color: #0e4538;
    transform: scale(1.1);
    border-radius: 8px;
    padding: 8px;
}


.seccion2-h2 {
    font-family: "Nunito Sans", sans-serif;
    color: #0e4538;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    background-color: #f4f1ea;
    padding-top: 1.1rem;
}

.seccion2-h3{
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
}

.seccion2 {
    background-image: linear-gradient(to bottom, #f4f1ea, white);
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 0.2fr 2fr 0.2fr 2fr;
    grid-template-rows: 0.1fr 1fr 0.8fr;
    grid-template-areas: 
    "hormonas        flecha1 nutrientes        flecha2 rendimiento"
    "imagen-hormonas flecha1 imagen-nutrientes flecha2 imagen-rendimiento"
    "texto-hormonas  flecha1 texto-nutrientes  flecha2 texto-rendimiento"
    ;
}

.hormonas {
    grid-area: hormonas;
}

.imagen-hormonas {
    grid-area: imagen-hormonas;
    max-width: 300px;
    margin-inline: 4rem;
}

.texto-hormonas {
    grid-area: texto-hormonas;
    background-color: #EDE9E1;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-left: 1rem;
}

.flecha1 {
    grid-area: flecha1;
    font-size: 2.5rem;
    padding-top: 8rem;
}

.nutrientes {
    grid-area: nutrientes;
}

.imagen-nutrientes {
    grid-area: imagen-nutrientes;
    max-width: 300px;
    margin-inline: 4rem;
}

.texto-nutrientes {
    grid-area: texto-nutrientes;
    background-color: #EDE9E1;
    border-radius: 1rem;
    padding: 0.5rem;
}

.flecha2 {
    grid-area: flecha2;
    font-size: 2.5rem;
    padding-top: 8rem;
}

.rendimiento {
    grid-area: rendimiento;
}

.imagen-rendimiento {
    grid-area: imagen-rendimiento;
    max-width: 300px;
    margin-inline: 4rem;
}

.texto-rendimiento {
    grid-area: texto-rendimiento;
    background-color: #EDE9E1;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-right: 1rem;
}

.cierre-nuestros-objetivos {
    font-family: "Nunito Sans", sans serif;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 0.5rem;
    
}

.seccion3 {
    background-image: url(../images/seccion3.png);
    background-repeat: no-repeat;
    margin-top: 3.4rem;
    font-family: "Nunito Sans", sans serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    justify-items: end;
    align-items: end;
    text-align: center;
    padding-bottom: 5rem;
}

.alimentacion-titulo {
    
    margin-right: 20rem;
    font-family: "Nunito Sans", sans serif;
    color: #0e4538;
    font-weight: 400;
}

.alimentacion-texto1, .alimentacion-texto2 {
    max-width: 800px;
    margin-right: 2rem;
}

.boton-dietas {
    margin-right: 22rem;
    background-color: #46341C;
    color: black;
    border: 0;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0.5rem;
    transition: .3s;
}

.boton-dietas:hover {
    background-color: #5C4525;
    transform: scale(1.1);
}

.cetogenica {
    transform: translate(115px,-355px) rotate(10deg); 
    max-width: 100px;
}

.cetogenica-texto {
    background-color: transparent;
    color: white;
}

.vegetariana {
    transform: translate(430px,-380px) rotate(-11deg);
    max-width: 100px;
}

.vegetariana-texto {
    background-color: transparent;
    color: white;
}

.paleo {
    transform: translate(315px, -415px);
    max-width: 100px;
}

.paleo-texto {
    background-color:transparent;
    color: white;
}

.vegana {
    transform: translate(230px, -390px) rotate(-8deg);
    max-width: 100px;
}

.vegana-texto {
    background-color: transparent;
    color: white;
}

.tiroides {
    transform: translate(315px, -365px) rotate(-9deg);
    max-width: 100px;
}

.tiroides-texto {
    background-color: transparent;
    color: white;
}

.caja-dietas {
    position: absolute;
}




.seccion4 {
    height: 100vh;
    background-image: url(../images/comida.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Nunito Sans", sans serif;
    font-size: 1.5rem;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
}

.seccion4-titulo {
    color: #0e4538;
    font-size: 2rem;
    font-weight: 400;
    padding-top: 0.5rem;
    margin-left: 1.5rem;
}

.seccion4-texto1 {
    max-width: 850px;
    margin-left: 1.5rem;
}

.seccion4-titulo2 {
    text-align: center;
    padding-top: 2rem;
    font-weight: 300;
}

.seccion4-texto2 {
    text-align: center;
    max-width: 1200px;
    margin-inline: 4.5rem;
}

.seccion4-titulo3 {
    font-weight: 300;
    padding-top: 2rem;
    margin-right: 1rem;
    text-align: end;

}

.seccion4-texto3 {
    text-align: end;
    margin-left: 10rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.caja-boton-recetas {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 15rem;
    margin-bottom: 3.6rem;
}

.boton-recetas {
    font-family: "Nunito Sans", sans serif;
    font-size: 1.5rem;
    background-color: #9e1e26;
    border: 0;
    border-radius: 8px;
    padding: 6px;
    cursor: pointer;
    transition: .5s;
}

.boton-recetas:hover {
    transform: scale(1.1);
    background-color: #691319;
}

.recetas {
    color: rgb(208, 155, 155);
}

.recetas:hover {
    color: white;
}

.seccion5 {
    margin-top: 3rem;
    padding-bottom: 5rem;
    background-image: linear-gradient(to top, #e2e0da, white);
}

.seccion5-grilla {
    font-family: "Nunito Sans", sans serif;
    font-size: 1.5rem;
    padding-inline: 1.5rem;
    display: grid;
    grid-template-columns: 2 fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    grid-template-areas: 
    "seccion5-titulo seccion5-titulo"
    "seccion5-texto1 seccion5-texto1"
    "seccion5-titulo2 seccion5-imagen"
    "seccion5-texto2 seccion5-imagen"
    "seccion5-titulo3 seccion5-imagen"
    "seccion5-texto3  seccion5-imagen"
    "seccion5-titulo4 seccion5-imagen"
    "seccion5-texto4  seccion5-imagen"
    ;
    row-gap: 1rem;
}

.seccion5-titulo {
    color: #0e4538;
    grid-area: seccion5-titulo;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

.seccion5-imagen {
    grid-area: seccion5-imagen;
    max-width: 600px;
    filter: drop-shadow(10px 10px  10px rgb(38, 49, 31));
}

.seccion5-texto1 {
    grid-area: seccion5-texto1;
    text-align: center;
}

.seccion5-titulo2 {
    font-style: italic;
    grid-area: seccion5-titulo2;
    font-size: 1.7rem;
    font-weight: 200;
}

.seccion5-texto2 {
    grid-area: seccion5-texto2;
    font-size: 1.3rem;
}

.seccion5-titulo3 {
    font-style: italic;
    grid-area: seccion5-titulo3;
    font-size: 1.7rem;
    font-weight: 200;
}

.seccion5-texto3 {
    grid-area: seccion5-texto3;
    font-size: 1.3rem;
}

.seccion5-titulo4 {
    font-style: italic;
    grid-area: seccion5-titulo4;
    font-size: 1.7rem;
    font-weight: 200;
}

.seccion5-texto4 {
    grid-area: seccion5-texto4;
    font-size: 1.3rem;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 2000px;
    background-color: #7a8919;
    padding: 1rem;
    font-family: "Nunito Sans", sans serif;
    font-size: 1.3rem;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}


.nav-pages {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    justify-content: space-between;
    justify-items: center;
    background-color: #93a80d;
}

.titulo1-objetivos {
    font-family: Philosopher;
    font-weight: 300 ;
    padding-bottom: 1rem;
}

.main-objetivos {
    font-family: "Nunito Sans", sans serif;
    margin-inline: 2rem;
    margin-bottom: 4rem;
}

.main-objetivos>section>article>p {
    font-size: 1.3rem;
}

.objetivos-texto1 {
    text-align: center;
}

.objetivos-h2 {
    font-size: 1.7rem;
    font-weight: 400;
    padding-top: 2rem;
}

.ojetivos-h2-fundamentos {
    text-align: center;
    padding-top: 2rem;
}

.objetivos-texto2 {
    text-align: center;
    padding-bottom: 1rem;
} 

.objetivos-impacto-texto {
   padding-bottom: 2rem;
}

.objetivos-h3 {
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 1rem;
}

.link-estudios {
    font-style: italic;
}

.link-estudios:hover {
    color: #0e4538;
}

.titulo1-alimentacion {
    font-family: Philosopher;
    font-weight: 300 ;
}

.main-alimentacion {
    font-family: "Nunito Sans", sans serif;
    margin-inline: 2rem;
    margin-bottom: 4rem;
    font-size: 1.3rem;
}

.texto-alimentacion {
    padding-block: 0.8rem;
}

.main-recetas {
    font-family: "Nunito Sans", sans serif;
    margin-inline: 2rem;
    margin-bottom: 4rem;
    font-size: 1.3rem;
}

.titulo1-recetas {
    font-family: Philosopher;
}

.recetas-h2 {
    font-weight: 400;
}

.recetas-h3 {
    font-style: italic;
    font-weight: 300;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.8rem;
}

.texto2-recetas {
    text-align: center;
    padding-top: 2rem;
}

.caja-beneficios {
    padding: 2rem 3rem 2rem 3rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1 fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
    grid-template-areas: 
    "titulo-nutricion titulo-sostenibilidad"
    "texto-nutricion  texto-sostenibilidad"
    "titulo-adaptacion titulo-descubrimiento"
    "texto-adaptacion  texto-descubrimiento"
    ;
    gap: 1rem;
    column-gap: 3rem;
}

.titulo-nutricion {
    grid-area: titulo-nutricion;
    font-size: 1.8rem;
    font-weight: 500;
}

.texto-nutricion {
    grid-area: texto-nutricion;
    background-color: #e4dcbf;
    border-radius: 8px;
    padding: 1rem;
}

.titulo-sostenibilidad {
    grid-area: titulo-sostenibilidad;
    font-size: 1.8rem;
    font-weight: 500;
}

.texto-sostenibilidad {
    grid-area: texto-sostenibilidad;
    background-color: #e4dcbf;
    border-radius: 8px;
    padding: 1rem;
}

.titulo-adaptacion {
    grid-area: titulo-adaptacion;
    font-size: 1.8rem;
    font-weight: 500;
}

.texto-adaptacion {
    grid-area: texto-adaptacion;
    background-color: #e4dcbf;
    border-radius: 8px;
    padding: 1rem;
}

.titulo-descubrimiento {
    grid-area: titulo-descubrimiento;
    font-size: 1.8rem;
    font-weight: 500;
}

.texto-descubrimiento {
    grid-area: texto-descubrimiento;
    background-color: #e4dcbf;
    border-radius: 8px;
    padding: 1rem;
}

.facebook {
    color: white;
}

.alimentacion-h2 {
    font-weight: 400;
}

.nav-pages-recetas {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    justify-content: space-between;
    justify-items: center;
    background-color: #93a80d;
    text-decoration: none;
    max-height: 80px;
}

.menu-item-receta {
    text-decoration: none;
    color: black;
}

.flex-container-recetas {
    font-family: "Nunito Sans", sans serif;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 0;
    background-color: #e6dfca;
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 8px;
}

.flex-container-recetas>div>img {
    max-width: 500px;
    border-radius: 8px;
    margin-right: 1rem;
}
  
.receta-panketo {
    list-style-type: decimal;
}

.formulario-email {
    padding: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
}

.formulario-enviar {
    border: 0;
    font-family: "Nunito Sans", sans serif;
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: #cfcbbf;
    cursor: pointer;
}

.titulo-principal-contacto {
    font-weight: 600;
}

.caja-principal-contacto {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.texto-contacto {
    margin-inline: 2rem;
    font-family: "Nunito Sans", sans serif;
    font-size: 1.5rem;
}

.imagen-contacto {
    max-width: 700px;
    
}

.form-section {
    font-family: "Nunito Sans", sans serif;
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.content-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
}

.label-contacto {
    margin-bottom: 5px;
}

.input-nombre-contacto, .input-email-contacto, .textarea-contacto {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
 
.boton-pagina-contacto {
    font-family: "Nunito Sans", sans serif;
    font-size: 1rem;
    background-color: #463f13;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
